.LoginPage {
    text-align: center;
  }
  

  
  .LoginPage-header {
    background-color: #cc5500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .LoginButton {
    padding-left: 50;
  }
  
  .LoginPage-link {
    color: #61dafb;
  }

  .column {
    width: 35%;
  }

  .row {
    padding-left: 23%;
    display: flex;
    /* clear: both; */
  }
  
  @keyframes LoginPage-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  