.LoginPage {
  text-align: center;
  background-color: #cc5500;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.LoginButton {
  padding-left: 50;
}

.LoginPage-link {
  color: #61dafb;
}

.column {
  width: 35%;
}

.row {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.LoginFieldGroup {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  width: 70%;
  margin: 1em auto 1em;
}

  