.welcome_header {
    margin-left: 3%;
}

.project_manager_container {
    display: flex;
    gap: 2em;
    margin-left: 3%;
}

.user_projects_container {
    width: 50em;
}

.utilities_section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.utilities_section > div > h2 {
    margin-top: 0;
}

.hwsets_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project_add_container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .7em;
}

.project_join_container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .7em;
}

.project_authlist_container {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .7em;
}
