.SignupPage {
    text-align: center;
  }
  
  .SignupPage-header {
    background-color: #cc5500;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .SignupPage-link {
    color: #61dafb;
  }
