.project_container {
    border: 0.2em solid;
    background-color: #d7edec;
    margin: 1em 0;
    padding: 0.5em 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;

}

.name_pid_group {
    display: flex;
    flex-direction: column;
}

.pid {
    margin-top: 0;
    font-size: smaller;
}

.projectname {
    font-weight: bold;
    font-size: large;
    width: 8em;
    word-wrap: normal;
    margin-bottom: 0;
}

.authlist {
    color: gray;
    width: 10em;
    word-wrap: normal;
}

